.App {
  text-align: center;
  /* color: black;
  background-color: orange; */
}

.container {
    display: flex;
    
  }
.item{
  flex: 1;
  padding: 5px;
  position: relative;
}

.element{
  flex: 1;
  font-size: 20px;
}

/* put title on image */
 
.element{
  position: absolute;
  left:0;
  top: 50%;
  width: 100px;
  height: 50px;
  text-align: center;
  background: rgb(245, 170, 8);
  visibility: hidden; 
  /* display: none; */
  opacity: 0;
  transition: width 2s cubic-bezier(0.71, -0.35, 0.44, 1.34) 1s;
  
}

/* make title visible on image on hover */
.item:hover .element{
  visibility: visible;
  width: 100%;
  /* display: block; */
  opacity: 0.8;
}

img {
  max-width: 100%;
  border-radius: 4%;
}

@media (max-width: 600px){
  .container {
    /* display: block; */
    flex-direction: column;
  }
}