.App {
  text-align: center;
  /* color: black;
  background-color: orange; */
}

.container {
    display: flex;
    
  }
.item{
  flex: 1;
  padding: 5px;
  position: relative;
}

.element{
  flex: 1;
  font-size: 20px;
}

/* put title on image */
 
.element{
  position: absolute;
  left: 0;
  top: 50%;
  /* width: 100%; */
  text-align: center;
  background: pink;
  color: black;
  visibility: hidden;
  opacity: 0;
}

/* make title visible on image on hover */
.item:hover .element{
  visibility: visible;
  opacity: 1;
}
/* .item:hover #second{
  visibility: visible;
  opacity: 1;
}
.item:hover #third{
  visibility: visible;
  opacity: 1;
}
.item:hover #fourth{
  visibility: visible;
  opacity: 1;
}
.item:hover #fifth{
  visibility: visible;
  opacity: 1;
}
.item:hover #sixth{
  visibility: visible;
  opacity: 1;
} */

img {
  max-width: 100%;
  border-radius: 4%;
}

@media (max-width: 600px){
  .container {
    /* display: block; */
    flex-direction: column;
  }
}