.App {
  text-align: center;
  /* color: black;
  background-color: orange; */
}

.container {
    display: flex;
    
  }
.item{
  flex: 1;
  padding: 5px;
  position: relative;
}

.element{
  flex: 1;
  font-size: 20px;
}

/* put title on image */
 
.element{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100px;
  height: 50px;
  text-align: center;
  background: rgb(255, 233, 192);
  color: black;
  visibility: hidden; 
  /* display: none; */
  opacity: 0;
  transition: width 2s linear 1s;
}

/* make title visible on image on hover */
.item:hover .element{
  visibility: visible;
  width: 100%;
  text-align: center;
  /* display: block; */
  opacity: 1;
}


img {
  max-width: 100%;
  border-radius: 4%;
}

@media (max-width: 600px){
  .container {
    /* display: block; */
    flex-direction: column;
  }
}